$color-primario: #006499 ;
$color-secundario: #0A5588 ;
$margin-container: 0px 400px ;
$color-hover: #193461 ;
$font-family: 'Poppins', sans-serif;
$d-flex: flex;
$white: white;
$transition: all 0.5s ease-in;
$color-html: #78C3D1;
$color-css: #3E54A3;
$color-bts: #7952B3;
$color-scss: #BF4080;